## Importing The Libraries

In [ ]:
!pip install apyori

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Importing The Dataset and Preprocessing

When we compare the dataset for Apriori with the previous data sets we use, we can see that the structure of the
dataset is a different. In this particular dataset, we don't names of columns. Each of the elements correspond to just different products. 
Thus, we need to add something in the read function to tell the function that the first row is not column names, but the data to be used to analysis.

The apyori function requires the dataset to be in a particular format (not pandas data frame but a list of transaction - Transactions listed one by one with the different products by the customers.

Finally, all the elements in the apyori model must be strings.

In [2]:
dataset = pd.read_csv("Market_Basket_Optimisation.csv", header = None)
transactions = []    
for i in range(len(dataset)):
    transactions.append([str(dataset.values[i,j]) for j in range(0,20)])

## Training The Apriori Model on The Dataset

In [7]:
from apyori import apriori
rules = apriori(transactions = transactions, 
              min_support = 0.003,
              min_confidence = 0.2, 
              min_lift = 3,
              min_length = 2,
              max_lenght = 2)

## Visualizing The Results

### Displaying the first results coming directly from the output of the apriori function

In [8]:
results = list(rules)

### Putting the results into a well organized Pandas Dataframe

In [13]:
def inspect(results):
    lhs         = [tuple(result[2][0][0])[0] for result in results]
    rhs         = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    return list(zip(lhs, rhs, supports))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Product 1', 'Product 2', 'Support'])

### Displaying The Results Non-Sorted

In [14]:
resultsinDataFrame

                Product 1    Product 2   Support
0             light cream      chicken  0.004533
1    mushroom cream sauce     escalope  0.005733
2                   pasta     escalope  0.005866
3           fromage blanc        honey  0.003333
4           herb & pepper  ground beef  0.015998
..                    ...          ...       ...
155             olive oil    spaghetti  0.003066
156              pancakes    spaghetti  0.003066
157           ground beef    spaghetti  0.003066
158                  milk    olive oil  0.003333
159                  milk    spaghetti  0.003333

[160 rows x 3 columns]

### Displaying the result in descending order of lift

In [15]:
resultsinDataFrame.nlargest(n = 10, columns = 'Support')

             Product 1          Product 2   Support
4        herb & pepper        ground beef  0.015998
43       herb & pepper        ground beef  0.015998
30           spaghetti        ground beef  0.008666
95           spaghetti        ground beef  0.008666
7    whole wheat pasta          olive oil  0.007999
60   whole wheat pasta          olive oil  0.007999
34       mineral water  frozen vegetables  0.007199
55                milk          olive oil  0.007199
102      mineral water  frozen vegetables  0.007199
128               milk          olive oil  0.007199